/** CSS STYLE **/
/**FONT**/
@font-face {
	font-weight: 400;
	font-family: 'Open Sans';
	src: url('../../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-weight: 700;
	font-family: 'Open Sans';
	src: url('../../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-weight: 400;
	font-family: 'Neucha';
	src: url('../../assets/fonts/Neucha-Regular.ttf');
}
/** COLORS **/
.white {
	color: #fff;
}

.light-white {
	color: #d7ccc0;
}

.light {
	color: #f5f4f0;
}

.main-color {
	color: #fe8a02;
}

.main-dark-color {
	color: #42413c;
}

.dark {
	color: #2a2626;
}

.light-dark {
	color: #908d8b;
}

.brown {
	color: #b09a81;
}

.blue {
	color: #1085c5;
}

.bg-white {
	background: #fff;
}

.bg-main {
	background: #fe8a02;
}

.bg-light {
	background: #f5f4f0;
}

.bg-dark {
	background: #42413c;
}

.bg-brown {
	background: #b09a81;
}

.bg-primary::before {
	content: '';

	position: absolute;
	top: 0;

	width: 100%;
	height: 100%;

	background: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 10%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* * {
	margin: 0;
} */

body {
	margin: 0;

	font: 16px/1.6em normal sans-serif;
	font-family: 'Open Sans';
}

h1,
h2,
h3 {
	margin: 0;

	font-family: 'Neucha';
	font-weight: normal;
	line-height: 1.2em;
	color: #fe8a02;
}
h1 {
	font-size: 72px;
}
h2 {
	font-size: 60px;
}
h3 {
	font-size: 34px;
}

a {
	text-decoration: none;
}

.container {
	display: flex;
	flex-wrap: wrap;

	max-width: 1110px;
	margin: 0 auto;
}

.section {
	position: relative;
	width: 100%;

	padding: 100px 0;
	overflow: hidden;
}

.d-flex {
	display: flex;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-100 {
	margin-bottom: 100px;
}

/** HEADER **/
.header {
	position: relative;

	padding: 100px 0;

	overflow: hidden;
}

.header-inner {
	position: relative;

	width: 100%;
}

.header-title {
	z-index: 5;
}

.header-image {
	position: absolute;
	height: 525px;
	top: -45px;
	right: -270px;
	z-index: 0;
}

.header-text-margin {
	margin-top: 185px;
}

.text-cols-container {
	position: relative;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 1110px;
}

.text-content + .text-content {
	margin-left: 30px;
}

.text-content {
	width: 50%;
}

.header-button {
	display: inline-block;
	padding: 12px 24px;
	background-color: #fe8a02;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
}

.header-button:hover {
	background: #42413c;
}

.header-link {
	color: #fff;
	text-decoration: none;
}

/** VIDEO SECTION **/
.video-content {
	position: relative;

	width: 100%;

	text-align: center;
}
.video-section {
	margin-bottom: -200px;
}

.video-section-title {
	margin-bottom: 30px;
}
.video {
	position: relative;
	filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
	z-index: 1;
}

/**NAVIGATION SECTION**/
.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	margin-top: 100px;
}

.navigation-title {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 30%;

	font-size: 52px;
}

.navigation-card {
	padding: 24px;
	flex-basis: 30%;
}

.navigation-card-number {
	display: block;

	margin-bottom: 40px;

	font-size: 64px;
	font-family: 'Neucha';
	line-height: 1;
}

.navigation-card:hover {
	position: relative;
	top: 10px;

	background: #fe8a02;
}

.navigation-card:hover > h3 {
	color: #fff;
}

/** IKEA EFFECT **/

.img-shadow-effect {
	vertical-align: middle;
	filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.left-cols-content {
	margin-right: 30px;
}

.section-pretitle {
	font-size: 24px;
	font-family: 'Neucha';
}

.section-description {
	font-size: 34px;
	font-family: 'Neucha';
	line-height: 1.2;
}

.middle-container {
	display: flex;

	align-items: center;
	margin-bottom: 20px;
}

.section-middle-title {
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 14px;
	height: 26px;
	text-transform: uppercase;
	padding: 5px 0 5px 10px;

	z-index: 1;
	flex-grow: 1;
}
